{% extends "shop/base/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
    <div class="plant-detail">
        <img src="{% if plant.image %}{{ plant.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        <h1>{{ plant.name }}</h1>
        <h2><a href="{{ plant.category.get_absolute_url }}">{{ plant.category }}</a></h2>
        <p class="price">${{ plant.price }}</p>
        <p class="price">${{ plant.price }}</p>
        <form action="{% url "cart:cart_add" plant.id %}" method="post">
            {{ cart_plant_form }}
            {% csrf_token %}
            <input type="submit" value="Add to cart">
        </form>
        {{ plant.description|linebreaks }} 
    </div>
{% endblock %}