{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Plants{% endif %}
{% endblock %}
{% block content %}
    <div id="sidebar">
        <h3>Categories</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url "shop:plant_list" %}">All</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main" class="plant-list">
        <h1>{% if category %}{{ category.name }}{% else %}Plants{% endif %}</h1>

        {% for plant in plants%}

            <div id="card" class="card" style="width: 18rem;">
                <img src="{% if plant.image %}{{ plant.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                <div class="card-body">
                    <a href="{{ plant.get_absolute_url }}">{{ plant.name }}</a><br>
                    <p class="card-text">${{ plant.price }}</p>
                </div>
            </div>

            {% comment %} <div class="item">
                <a href="{{ plant.get_absolute_url }}">
                    <img src="{% if plant.image %}{{ plant.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                </a>
                <a href="{{ plant.get_absolute_url }}">{{ plant.name }}</a><br>
                ${{ plant.price }}
            </div> {% endcomment %}
        {% endfor %}
    </div>
{% endblock %}