<div if="footer-blok">
    <div>
        <div class="footer-div-blok1">
        <h3 class="foot-h3">FLOWERLAB</h3>
        <p class="foot-text-lix1">We deliver plants<br>from around the world since 2023</p>
    </div>
    <div class="footer-div-blok2">
        <p class="foot-text-lib1">CATALOG</p>
        <p class="foot-text-lit1">Flowers</p>
        <p class="foot-text-lit1">Accessoies</p>
    </div>
    <div class="footer-div-blok3">
        <p class="foot-text-lib1">FOR THE CLIENT</p>
        <p class="foot-text-lit1">About us</p>
        <p class="foot-text-lit1">Shipping and returns</p>
    </div>
    <div class="footer-div-blok4">
        <p class="foot-text-lib1">CONTACTS</p>
        <p class="foot-text-lit1">+38 098 7654 65</p>
        <p class="foot-text-lit1">flowerlab@gmail.com</p>
    </div>
</div>