{% extends "shop/base/base.html" %}

{% block content %}

    <div class="container">
        <div class="left-image">
            <img src="/media/products/Screen.jpg" alt="Ліва картинка">
        </div>
        <div class="right-image">
            <img src="/media/products/Screen-1.jpg" alt="Права картинка">
        </div>
    </div>
    <div class="home-text-div-li1">
        <p class="home-text-p-lib2">Your green friends</p>
        <p class="home-text-p-lib3">We Helps you discover the best plants for your space, delivers<br> them to your door and helps you look after them.</p>
        <hr class="home-text-hr-lib1">
    </div>
    <div class=".left-image">
        <div class="home-img-left-lib1">
            <p class="home-text-p-lib4">Play with your plants</p>
            <p class="home-text-p-lib5">Get to know your plants</p>
            <p class="home-text-p-lib6">Comprehensive guides for all your favorite houseplants — covering<br> the basics of watering and lighting needs, more advanced topics<br> like how to propagate, and diagnosing common problems.</p>
        </div>
       <img class="home-img-left-lib2" src="/media/products/Photo-3.jpg" alt="Права картинка">
    </div>

    {% include 'shop/base/footer.html' %}
{% endblock %}


