

<nav>
    <div class="nav-div-side"></div>
    <div class="nav-div-center">
        <div class="nav-div-center-div-top">
            <h3 align="center" class="a-link-black" ><a style="color: black" href="{% url 'home' %}">FLOWERLAB</a></h3>
        </div>
        <div class="nav-div-center-div-bottom">
            <div class="canter-nav-menu1"></div>
            <div  class="canter-nav-menu2">
                 <a class="a-link-black" href="{% url 'shop:plant_list' %}">SHOP</a>
            </div>
            <div class="canter-nav-menu2">
                <a  class="a-link-black" align="center" href="{% url 'blog' %}">BLOG</a>
            </div>
            <div class="canter-nav-menu2">
                <a class="a-link-black"  align="center" href="#footer-blok">CONTACTS</a>
            </div>
            <div class="canter-nav-menu2">
                <span>
                    <a class="a-link-black" align="center" HREF="/shop/hh">SALE</a>
                </span>
            </div>
            <div class="canter-nav-menu3">
                <div id="dropdown-container" class="dropdown-container">
                <button id="dropdown-button" class="dropdown-button">Account</button>
                    <ul id="dropdown-list" class="dropdown-list">
                        <li>
                            {% if request.user.is_authenticated %}
                                Hello {{ request.user.first_name }},
                                <a href="{% url "logout" %}">Logout</a>
                            {% else %}
                                <a href="{% url "login" %}">Log-in</a>
                                <a href="{% url "register" %}">Register</a>
                            {% endif %}
                        </li>

                        {% if user.is_authenticated %}
                        <li>
                            <span class="navbar-text ml-auto" >
                                <div class="cart">
                                    {% with total_items=cart|length %}
                                        {% if cart|length > 0 %}
                                            Your cart:
                                            <a href="{% url "cart:cart_detail" %}">
                                                {{ total_items }} item{{ total_items|pluralize }},
                                                ${{ cart.get_total_price }}
                                            </a>
                                        {% else %}
                                            Your cart is empty.
                                        {% endif %}
                                    {% endwith %}
                                </div>
                            </span>
                        </li>
                        <li><a  href="account/orders" tabindex="-1" aria-disabled="true">Opders</li>
                        <li><hr class="hr1"></li>
                        <li><a href="{% url "profile" %}">Profile</a></li>
                        {% else %}
                        {% endif %}
                    </ul>
                </div>

            </div>
        </div>
        <hr class="nav-div-center-hr">
    </div>
    <div class="nav-div-side"></div>
</nav>