{% extends "shop/base/base.html" %}


{% block content %}
    <h2>Orders for {{ user.username }}</h2>

    {% for order in orders %}
    <div>
        <h3>Order ID: {{ order.id }}</h3>
        <p>First Name: {{ order.first_name }}</p>
        <p>Last Name: {{ order.last_name }}</p>

        <h2>Total Cost: {{ order.total_cost }} $</h2>

        <a href="{% url 'order_detail' order.id %}">View Details</a>
    </div>
    {% empty %}
        <p>No orders found for this user.</p>
    {% endfor %}

{% endblock %}
