{% extends "shop/base/base.html" %}

{% block content %}

    <img class="blog-img1" src="/media/products/fsds.jpg" alt=" картинка">
    <div class="blog-div-leftblok"></div>
    <div class="blog-div-centrtblok">
        <p class="blog-text-lic2">Have you ever wondered why some of your plants seem to be so high maintenance? They need the perfect <br>level of humidity. They completely freak out over temperature changes. Well, to understand something better, sometimes you have to return to their roots.</p>
        <p class="blog-text-lic2">It’s no secret that houseplants didn’t spontaneously start growing indoors. Most houseplants have been<br> optimized to thrive indoors—incidentally by nature or intentionally through human cultivation. But still, they'll<br> always remember where they came from! Just like any living thing, learning about the origins of a houseplant<br> can help you care for them better and understand their specific needs.</p>
        <p class="blog-text-lic1">The Earliest Origins of Houseplants</p>
        <p class="blog-text-lic2">Humans are complex creatures. And we’ve always been connected to nature, but when did we start bringing<br> plants into our homes, not just coexisting or tending to them outside?</p>
        <p class="blog-text-lic2">The answer kind of depends on your perspective. Courtyards as an extension of our homes may teeter on the<br> line between indoor and outdoor space, but we'd argue they are just another room of the house. Courtyards<br> have been a thing since... well, ancient times. So we've been wanting to keep plants in our homes for a ~very~<br> long time! Obviously, all of the plants we enjoy indoors started in the wild.</p>


    </div>
    <div class="blog-div-rignttblok"></div>
    {% include 'shop/base/footer.html' %}
{% endblock %}